/* 메인 배너입니다 */
.main_box {
  width: 100%;
  height: 320px;
  background-image: url(../images/main_bn_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main_bn_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
}

.main_bn_title h3 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.main_bn_title h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 2.5rem;
  color: #fff;
}

.main_bn_title p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 30px 0 0 0;
}

/* 어바웃입니다 */

.about_title {
  margin: 100px 0 50px;
  text-align: center;
}

.about_title h1 {
  color: var(--main);
  font-size: 15px;
  font-weight: 400;
}

.about_title h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 7px 0 15px;
}

.about_title h3 {
  font-size: 15px;
  font-weight: 400;
}

.about_bn {
  height: 280px;
  width: 100%;
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_btn a {
  border: 1px solid #000;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 100px;
  color: #000;
  transition: 0.3s;
}

.about_btn a:hover {
  color: #fff;
  background: #000;
}

.about_btn path {
  transition: 0.3s;
}

.about_btn a:hover path {
  stroke: white;
}

.about_btn p {
  margin-right: 14px;
}

/* 거제입니다 */

.geoje_title {
  text-align: center;
  margin-bottom: 50px;
}

.geoje_title h1 {
  color: var(--main);
  font-size: 15px;
  font-weight: 400;
}

.geoje_title h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 7px 0 15px;
}

.geoje_title h3 {
  font-size: 15px;
  font-weight: 400;
}

.geoje_products_line_1_product_box {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
}

.geoje_products_line_1_product_box img {
  width: 100%;
}

.geoje_products_line_2_product_box img {
  width: 100%;
}

.geoje_products_line_1_product_text h1 {
  font-size: 15px;
  font-weight: 400;
  color: #666a74;
  margin: 10px 0 5px;
}

.geoje_products_line_1_product_text h2 {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  margin: 0 0 7px 0;
}

.geoje_products_line_1_product_text_under {
  display: flex;
  align-items: flex-end;
}

.geoje_products_line_1_product_text_under h4 {
  font-size: 15px;
  font-weight: 400;
  color: #444;
  flex: 3;
}

.geoje_products_line_1_product_text_under_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

.geoje_products_line_1_product_text_under_btn p {
  font-size: 15px;
  font-weight: 400;
  color: #666a74;
  margin-right: 8px;
}

.geoje_products_line_2 {
  margin: 50px 0;
}

/* 컨텍트입니다 */

.contact_title {
  text-align: center;
  margin: 100px 50px 50px;
}

.contact_title h1 {
  color: var(--main);
  font-size: 15px;
  font-weight: 400;
}

.contact_title h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 7px 0 15px;
}

.contact_title h3 {
  font-size: 15px;
  font-weight: 400;
}

.contact_map {
  margin-bottom: 50px;
}

.contact_address {
  display: flex;
  padding: 0 0 30px 0;
}

.contact_address_left {
  width: 32.0625%;
}
.contact_address_right {
  width: 66.0625%;
  display: flex;
  align-items: center;
}

.contact_address_left h1 {
  font-size: 30px;
  font-weight: 400;
}

.contact_address_right p {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.contact_way ul {
  /* display: flex; */
  /* gap: 30px; */
}

.contact_way_box {
  /* width: 32.0625%; */
  border-top: 1px solid #b2b2b2;
  padding: 30px 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 100px 0; */
}

.contact_way_box h1 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 15px 0;
  width: 32.0625%;
  /* margin: 0px 0 20px; */
}

.contact_way_box p {
  width: 66.0625%;
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.contact_traffic {
  margin: 20px 0 0 0;
  /* display: flex; */
}

.contact_traffic_left {
  /* width: 32.0625%; */
  padding: 0 0 50px 0;
}

.contact_traffic_left h1 {
  font-size: 30px;
  font-weight: 400;
}

.contact_traffic_right {
  /* width: 66.0625%; */
}

.contact_traffic_right p {
  font-size: 20px;
  font-weight: 400;
  color: #444;
}

.contact_traffic_right ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
