/* 스파 배너 입니다 */

.dining_bn_box {
  background-image: url(../images/dining_bn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dining_bn_title h1 {
  font-size: 80px;
  font-weight: 500;
  color: #fff;
}

/* 오버뷰 입니다 */

.overview_title {
  margin: 200px 0 70px;
  text-align: center;
}

.overview_title h1 {
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

.overview_title h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 7px 0 28px;
}

.overview_title h3 {
  font-size: 16px;
  font-weight: 400;
}

.overview_bn img {
  width: 100%;
  margin-bottom: 200px;
}

/* 오버뷰 식당 소개입니다 */

.overview_intro_wrap {
  display: flex;
  gap: 30px;
}

.overview_intro_wrap_margin {
  margin: 250px 0 0 0;
}

.overview_intro_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.0625%;
}

.overview_intro_info_text h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--main);
}
.overview_intro_info_text h2 {
  font-size: 34px;
  font-weight: 400;
  color: #444;
  margin: 10px 0 40px 0;
}
.overview_intro_info_text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 1.8rem;
}

.overview_intro_info_btn a {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.overview_intro_info_btn P {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 14px 0 0;
}

.overview_intro_bn {
  width: 66.0625%;
}

/* 이벤트 입니다 */

.event_wrap {
  padding: 100px 0;
  background-color: var(--bgc);
  margin: 200px 0 0 0;
}

.event_title {
  text-align: center;
}

.event_title h1 {
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

.event_title h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 7px 0 70px;
}

.event_product {
  display: flex;
  gap: 30px;
  position: relative;
}

.event_product_info_text h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
.event_product_info_text h2 {
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin: 10px 0 47px 0;
}
.event_product_info_text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin: 0 0 23px 0;
}
.event_product_info_text h4 {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.event_product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.0625%;
}

.event_product_info_btn a {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.event_product_info_btn P {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0 14px 0 0;
}

.event_product_bn {
  width: 66.0625%;
}

.event_arrow_left {
  position: absolute;
  right: calc(100% + 50px);
  top: calc(50% - 51px);
  cursor: pointer;
}
.event_arrow_right {
  position: absolute;
  left: calc(100% + 50px);
  top: calc(50% - 51px);
  cursor: pointer;
}
