/* 어바웃 배너 입니다 */

.about_bn_box_wrap {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.about_bn_box {
  background-image: url(../images/about_bn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bn_opening 2s forwards;
}

@keyframes bn_opening {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.about_bn_title h1 {
  font-size: 80px;
  font-weight: 500;
  color: #fff;
}

/* 오버뷰 입니다 */

.overview_title {
  margin: 200px 0 70px;
  text-align: center;
}

.overview_title h1 {
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

.overview_title h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 7px 0 28px;
}

.overview_title h3 {
  font-size: 16px;
  font-weight: 400;
}

.overview_bn img {
  width: 100%;
}

.overview_intro {
  display: flex;
  margin: 200px 0;
  gap: 30px;
}

.overview_intro_title {
  width: 32.0625%;
  padding: 129.5px 95.5px;
  border: 1px solid #ecece7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview_intro_title h1 {
  color: var(--main);
}

.overview_intro_info {
  width: 66.0625%;
  padding: 41px 78.5px;
  background-color: #ecece7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overview_intro_info p {
  color: #6d6d6d;
  line-height: 1.7rem;
}

.overview_intro_info p:first-child {
  margin-bottom: 48px;
}

/* 핵심가치 입니다 */

.core_title {
  text-align: center;
  margin-bottom: 70px;
}

.core_title h1 {
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

.core_title h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 7px 0 28px;
}

.core_title h3 {
  font-size: 16px;
  font-weight: 400;
}

.core_intro {
  display: flex;
  gap: 30px;
}

.core_intro_box {
  width: 32.0625%;
}

.core_intro_img img {
  width: 100%;
}

.core_intro_text h1 {
  font-size: 16px;
  font-weight: 400;
  color: #666a74;
  margin: 20px 0 5px;
}

.core_intro_text h2 {
  font-size: 34px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.core_intro_text h3 {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

/* 사업영역입니다 */

.business_title {
  text-align: center;
  margin: 200px 0 70px;
}

.business_title h1 {
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

.business_title h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 7px 0 28px;
}

.business_title h3 {
  font-size: 16px;
  font-weight: 400;
}

.business_img {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 200px;
}

.business_img img {
  width: 100%;
}

.business_intro {
  display: flex;
  margin: 200px 0;
  gap: 30px;
}

.business_intro_title {
  width: 32.0625%;
  padding: 129.5px 95.5px;
  border: 1px solid #ecece7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business_intro_title h1 {
  color: var(--main);
}

.business_intro_info {
  width: 66.0625%;
  padding: 41px 78.5px;
  background-color: #ecece7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.business_intro_info p {
  color: #6d6d6d;
  line-height: 1.7rem;
}
