/* 모바일의 기본 설정입니다. */

body {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --main: #f37321;
  --bgc: #f7f7f7;
}

.width_mobile {
  padding: 0 20px;
}

/* 모바일의 헤더입니다 */

.header {
  padding: 0 20px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99;
  transition: 0.3s ease-in-out;
}

/* 로고입니다 */

.logo a {
  width: 100px;
  height: 29px;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* 네비입니다 */

.nav {
  display: none;
}

/* 유틸입니다 */

.utile {
  display: flex;
  align-items: center;
}

.site_map_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.utile_left a {
  display: none;
}

.utile_right {
  display: none;
}

/* 헤더의 hover 이벤트입니다. */

.header:hover {
  background-color: #fff;
}

.header:hover nav > ul > li > a {
  color: #000;
}

.header:hover .utile_left a {
  color: #000;
}

.header:hover .utile_left a img {
  content: url(../main/images/language_active.svg);
}

.header:hover .utile_left .site_map_btn img {
  content: url(../main/images/site_map.active.svg);
}

.header:hover .utile_right a {
  color: #000;
  border: 1px solid #000;
}

.header:hover .logo img {
  content: url(../main/images/header_logo_active.png);
}

#utile_right_a:hover {
  color: #fff;
  background-color: #000;
}

/* 헤더의 스크롤 이벤트입니다. */

.header.active {
  background-color: #fff;
  height: 80px;
}

.header.active nav > ul > li > a {
  color: #000;
}

.header.active .utile_left a {
  color: #000;
}

.header.active .utile_left a img {
  content: url(../main/images/language_active.svg);
}

.header.active .utile_left .site_map_btn img {
  content: url(../main/images/site_map.active.svg);
}

.header.active .utile_right a {
  color: #000;
  border: 1px solid #000;
}

.header.active .logo img {
  content: url(../main/images/header_logo_active.png);
}

#utile_right_a.active {
  color: #fff;
  background-color: #000;
}

/* 모바일의 사이트맵입니다 */

.site_map {
  display: none;
}

.site_map a {
  transition: 0.4s;
}

.site_map a:hover {
  color: var(--main) !important;
}

.site_map_close {
  display: block;
  animation: close_move 1s forwards;
}

@keyframes close_move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.site_map_open {
  display: block;
  animation: open_move 1s forwards;
}

@keyframes open_move {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.site_map_close_btn img {
  cursor: pointer;
}

/* site_map 의 상단입니다. */

.site_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 30px;
  z-index: 1000;
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_map_logo a img {
  width: 100px;
  height: 29px;
}

/* site_map 의 하단입니다. */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: left;
}

.site_map_dep1_li {
  margin-top: 30px;
  /* border-bottom: 1px solid #666; */
  position: relative;
}

.site_map_dep1_li > a {
  font-size: 28px;
  color: #000;
  font-weight: 500;
  display: inline;
  transition: 0.5s;
}

.site_map_dep1_li > a.active {
  color: #ccc;
}

.site_map_dep1_li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main);
  position: absolute;
  top: 40px;
  left: 0;
  transition: 0.5s;
}

.site_map_dep1_li:hover::after {
  width: 100%;
}

.site_map_dep1_li::before {
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 10px;
  background-image: url(../main/images/site_map_drop_arrow.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.site_map_dep1_li:hover::before {
  width: 0px;
}

.site_map_dep2_ul {
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  transition: 1s;
}

.site_map_dep2_li {
  margin-top: 20px;
}

.site_map_dep2_li > a {
  font-size: 23px;
  color: #444;
  display: inline;
}

.site_map_dep1_li:hover > ul {
  max-height: 400px;
}

/* 모바일의 서브 메뉴입니다 */
.sub_menu_box {
  display: none;
  align-items: center;
  margin: 30px 0 0 0;
}

.sub_menu_box span {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.sub_menu_option {
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 40px 0 0;
}

#sub_menu_option_main {
  color: var(--main);
}

.sub_menu_option a {
  color: #aaa;
}

.sub_menu_option:after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #aaa;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
}

.sub_menu_home {
  margin: 0 40px 0 0;
  position: relative;
  cursor: pointer;
}

.sub_menu_home:after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #aaa;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
}

.sub_menu_option {
  cursor: pointer;
}

.sub_menu_option_depth {
  position: absolute;
  top: 100%;
  max-height: 0px;
  overflow: hidden;
  margin: 15px 0 0 0;
  transition: 0.5s;
}

.sub_menu_option_depth.active {
  max-height: 200px;
}

.sub_menu_option_depth li {
  margin: 15px 0 0 0;
  color: #aaa;
  transition: 0.3s;
}

.sub_menu_option_depth li:hover {
  color: var(--main);
}

/* 모바일의 푸터입니다 */

.footer {
  margin-top: 100px;
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.footer a {
  color: #444;
}

.footer_right {
  order: 1;
}

.footer_left {
  display: flex;
  order: 4;
  align-items: center;
}

.footer_left_logo {
  width: 209px;
  height: 60px;
  order: 11;
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

.footer_left_info {
  margin: 20px 0 0 0;
  order: 7;
}

.footer_left_logo img {
  width: 100%;
}

.footer_left_info p {
  font-size: 12px;
  font-weight: 400;
  color: #444;
  margin-bottom: 16px;
  /* line-height: 1.5rem; */
  margin: 0;
}

.footer_left_info p span {
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.footer_right {
  display: flex;
  flex-direction: column;
}

.footer_right_upper_1,
.footer_right_upper_2 {
  width: 25%;
}

.footer_right_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 10;
}

.footer_right_upper span {
  color: #444;
  font-size: 12px;
  font-weight: 400;
}

.footer_right_upper_family {
  color: #444;
  width: 150px;
  height: 40px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.footer_right_under {
  display: flex;
  justify-content: space-between;
  order: 2;
  margin-bottom: 20px;
}

/* 패밀리사이트 이벤트입니다. */

.footer_right_upper_family {
  position: relative;
}

.family_depth1 {
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  transition: 1s;
  margin: 0 0 1px 0;
}

.family_depth1.active {
  max-height: 300px;
  background-color: #fff;
}

.family_depth1 li {
  padding: 0px 0 30px 10px;
}

.family_depth1 li a {
  transition: 0.3s;
}

.family_depth1 li a:hover {
  color: var(--main);
}
